.container {
    text-align: center;
}

.questionDiv {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.questionInput {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 80%;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: black;
}

.answerInput {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 80%;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: black;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.topBar {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 10px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
}

.imageContainer {
  flex: 1;
  text-align: center;
}

.qaContainer {
  flex: 1;
  margin: 10px;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
